/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.links-list {
  margin: 0 0;
  height: 100vh;
  display: flex;
  list-style: none;
  gap: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 186, 243);
}

.links-item {
}

.link {
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  color: aliceblue;
  transition: all 250ms linear;
}

.link:hover,
.link:focus {
  color: black;
}
